/*

OLD COLOURS: 
nav yellow: #f2b705
text yellow:#ffd958
purple: #cba1ff
light blue: #bbd7e8
light purple: #D8BFD8
dark grey: #545454

UPDATED COLOURS
#b8b3d7, w white
#918ac0, 
#49359f, w black
#372887, 
#241b70, 
#545454

*/
 



/*FONT IMPORTING*/

.pt-sans-regular {
  font-family: "PT Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.noto-serif-<uniquifier> {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

/*TEXT*/


* {
	box-sizing: border-box;
}

body, html {
	height: 100%;
	margin: 0;
}

/*.bg {
	height: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}*/



 
body{ 
	background-color: whitesmoke; 
	margin: 0;
}
 

h1, h2, h3 {
	font-family: Noto Serif;
}

h2 {
	font-size: 30px;
	color: #372887;
/*	margin: 10px;*/
	text-align: center;
}

h3 {
	font-size: 20px;
	color: #545454;
	margin: 30px 30px 0px 30px; 
}

p {
	font-weight: 100;
	font-family: PT Sans;
/*	margin: 40px;*/
	color: #545454;
}


a {
	color: blue;

}


/*HOMEPAGE*/

.gallery p {
	font-size: 1.1em;
}

.intro h1 {
	font-weight: 600; 
	font-size: 40px;
	text-align: center;
	color: #49359f; 
	margin: 30px 30px 0px 30px; 
	padding: 50px 50px 0px 50px;
}

.intro h2 {
	font-style: italic;
}


.intro {
	margin: 0px 100px;
	text-align: center;
	margin-bottom: 50px;
}


.gallery h3 {
	float: left; 
}

.button, .button2, .button3 {
	float: right;
	font-family: "PT Sans", serif;
	transition: 0.3s;
	cursor: pointer;
	padding: 5px 15px;
	font-size: 1em;
}


.button, .button2 {
	margin-top: 15px;
}

.button {
	background-color: #49359f;
	color: white;
	border-radius: 5px;
	border: 2px solid #49359f;
	font-family: "PT Sans", serif;
	transition: 0.3s;
	cursor: pointer;
}


.button a {
		color: white;
}

.button a:hover { 
color: black;
 }

.button:hover {
	background-color: white;
}


.button2, .button3 {
	float: right;
	background-color: white;
	color: black;
	border-radius: 5px;
	border: 2px solid palevioletred;
	font-family: "PT Sans", serif;
}


/*NAVIGATION*/


.navigation{
	position: sticky;
	margin: 0px;
	padding: 2px;
	list-style-type: none;
	overflow: hidden;
	background-color: #b8b3d7;
	box-shadow: 0 1px 5px 0 lightgrey;
}

.navigation a {
	display: block;
	color: black;
	text-decoration: none;
	margin: 4px 12px;
	padding: 12px 25px;
}

.navigation li {
	float: left;
	font-family: verdana;
	font-weight: 500;
	font-size: 15px;
	text-align: center;
	margin: 12px;
}

.navigation img {
	margin-top: 6px;
}

.navigation a:link {
	color: black;
}


.navigation a:hover {
	color: white;
	background-color: #49359f;
	border-radius: 12px;
}

.fa-envelope {
	margin-right: 20px;
}

.fa-envelope a:hover {
	color: white;
}






/*COLUMNS + CARDS */

/*to see the full container on hompage */
.gallery {
	margin: 0px 75px;
}

.gallery.bottom {
	margin: 0px 75px;
	margin-bottom: 200px;
}


/*Reference for adding the shadow boxes to cards:
 https://www.w3schools.com/css/css3_shadows_box.asp 
W3 Schools - CSS Box Shadow */

.card {
	background-color: white;
	padding: 20px;
	margin: 20px;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
	transition: 0.3s;
}

.card:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 #b8b3d7;
}

.gallery a {
	text-decoration: none;
}

.card p {
	color: black;
	padding: 5px;
}

.row:after {
	content: "";
	display: table;
	clear: both;

}


video {
  width: 100%;
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
}

/*FOOTER*/

.footer {
	background-color: #b8b3d7;
	text-align: center;
	padding: 20px;
	list-style-type: none;
	background-color: #b8b3d7;
	box-shadow: 0 1px 5px 0 lightgrey;
	font-family: verdana;
	margin: auto;
}

.footer ul {
	list-style-type: none;
	width: 300px;
	display: inline-block;
	font-size: 20px;
	padding: 0;
}

.footeer li {
	font-weight: 500;
}

.footer a {
	display: block;
	color: black;
	text-decoration: none;
	padding: 12px;

}

.footer a:hover {
	color: white;
	background-color: #49359f;
	border-radius: 12px;
}







/*BLOG - QUIZ SECTION */

.quiz {
	margin-top: 20px;
	padding: 2px;
	margin-bottom: 200px;
}

.quiz p {
	margin-top: 10px;
}


.quiz .column .card {
	background-color: white;
}





/*PORTFOLIO RESEARCH*/

.portfolio .column.inspo{
	width: 50%;
	padding: 20px;
}

.column ul {
	float: left;
	font-family: verdana;
	font-weight: 300;
	font-size: 15px;
	line-height: 25px;
}

.portfolio li {
	color: #545454;
	font-family: Verdana;
	font-size: 14px;
}

.portfolio p {
	margin: 10px;
}

.paragraph_layout { 
	margin-bottom: 100px;
 }

.paragraph_layout ul{
	float: left;
	font-family: verdana;
	font-weight: 300;
	font-size: 15px;
	line-height: 25px;
	margin-left: 65px;
}

.paragraph_layout li {
	color: #545454;
	font-family: Verdana;
	font-size: 14px;
}

.paragraph_layout p {
	margin: 4px 48px;
}

.portfolio .column.img {
	padding: 20px;
	width: 100%;
}


/*CASESTUDY - HEALTHBRIDGE*/

.healthbridge {
	margin: 150px;
}

.healthbridge h1, h2 {
	color: black;
	margin: 0;
}


.containerhb {
	margin: 75px;
}


.parallax {
	background-image: url("../images/healthbridge.jpeg");
	background-attachment: fixed;
	background-image: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}


.column {
	padding: 15px;
}

.row2:after {
	content: "";
	display: table;
	clear: both;

}


.paragraph_layout_hb { 
	margin-bottom: 100px;
 }

.paragraph_layout_hb ul{
	float: left;
	font-family: verdana;
	font-weight: 300;
	font-size: 15px;
	margin-left: 65px;
}

.paragraph_layout_hb li {
	color: #545454;
	font-family: Verdana;
	font-size: 14px;
	margin-bottom: 15px;
}


/*References for line breaks: https://www.w3schools.com/howto/howto_css_style_hr.asp */

hr {
    border: 1px solid #85CDD6;
  	border-radius: 5px;
}


/* REFERENCES */


.references ul {
	list-style-type: none;
	line-height: 50px;
	color: #545454;
	font-family: Verdana;
	font-size: 0.75rem;

/*This helped with responsive text (using clamps), making cards and responsive images: 
https://www.youtube.com/watch?v=vQDgoQKfdzM&list=PLXfxuzMU2DHPpd_TP0LWzs33CfjzyNAU9&index=3
How to make your website responsive*/

	font-size: clamp(0.75rem, 0.625rem + 0.5vw, 1rem);
	margin-bottom: 50px;
}





/*RESEARCH REPORT*/

#research {
	padding: 0px;
	margin: 20px;
}

.column.paragraphs {
	text-align: left;
	width: 100%;
	padding: 0 20px 20px 20px;
}

#research h1 {
  text-align: center;
  color: #49359f;
}




/*_______________________________________________________*/


/*MEDIA QUERRIES*/

@media only screen and (max-width: 600px) {
	body {
/*		background-color: blue;*/
	}

/*	CARDS*/

	.card p {
		font-size: 16px;
	}

	.column {
    width: 100%;
  }



/*INTRO*/

.intro {
	margin: 0px 12px;
	margin-bottom: 40px;
}

.intro h1 {
	font-size: 30px;
}

.intro h2 {
	margin: 8px;
	font-size: 20px;
}

h2 {
	font-size: 20px;
	color: #372887;
/*	margin: 10px;*/
/*	text-align: center;*/
}

}

.portfolio .column.inspo{
	width: 100%;
	padding: 30px; 
}

.portfolio .column.inspo2{
	width: 100%;
	padding: 30px;
}



/*_______________________________________________________*/


@media only screen and (min-width: 600px) {
 body {
/*  	background-color: green;*/
  }

  .column {
    width: 100%;
  }

  /*INTRO*/

  .intro {
	margin: 0px;
	margin-bottom: 40px;
}

.intro h1 {
	font-size: 30px;
	margin: 8px;
}

.intro h2 {
	margin: 8px;
	font-size: 25px;
}

h2 {
	font-size: 25px;
/*	margin: 10px;*/
/*	text-align: center;*/
}


/*REPORT*/

 .column.report {
	padding: 30px;
	margin: 5px 0;
}

}




/*_______________________________________________________*/


@media only screen and (min-width: 768px) {
  body {
/*  	background: silver;*/
  }

  .column {
	float: left;
	width: 33.33%;
	overflow: hidden;
}

  video {
  display: block;
	margin: 20px auto;
}

/*INTRO*/

.intro {
	margin: 0px 12px;
	margin-bottom: 40px;
}

.intro h1 {
	font-size: 30px;
}

.intro h2 {
	margin: 8px;
	font-size: 25px;
}

h2 {
	font-size: 25px;
/*	margin: 10px;*/
/*	text-align: center;*/
}

.intro p {
	margin: 20px;
}

/*BLOG*/
.quiz .column {
    width: 50%;
  }

/*REPORT*/
.column.report {
	width: 100%;
	padding: 30px;
}


}

 
/*_______________________________________________________*/


@media only screen and (min-width: 992px) {
  body {
/*  	background: purple;*/
  }

  video {
  display: block;
	margin: 22px auto;
}

.intro h1 {
	font-size: 40px;

}

.intro h2 {
		margin: 8px;
		font-size: 25px;
}

h2 {
	font-size: 35px;
/*	margin: 10px;*/
/*	text-align: center;*/
}

/*INTRO*/

.intro {
	margin: 0px 150px;
	text-align: center;
	margin-bottom: 75px;
}


/*BLOG*/
.quiz .column {
    width: 50%;
  }


 .portfolio .column.inspo2{
	width: 50%;
	padding: 20px;
}

.portfolio .column.img {
	padding: 20px;
	width: 50%;
}


.column.report {
	width: 50%;
	padding: 30px;
}


}

/*_______________________________________________________*/

@media only screen and (min-width: 1200px) {
  body {
/*  	background: #3c3644;*/
  }

  video {
  display: block;
	margin: 26px auto;
}

.intro p {
	font-size: 1em;
	margin: 0px 225px;
}

/*BLOG*/

.quiz .column {
    width: 33.33%;
  }

  .portfolio .column.inspo{
	width: 50%;
	padding: 20px;
}


.portfolio .column.inspo2{
	width: 25%;
	padding: 20px;
}

.portfolio .column.img {
	padding: 20px;
	width: 33.33%;
}


}











