@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@400;700&display=swap');


/*
*{
    outline: 1px dotted blue;
}

*/

html {
    scroll-behavior: smooth;
}

@media screen and (max-width: 550px) {
    body {
        background-color: green;
        font-family: 'Open Sans', sans-serif;
        scroll-behavior: smooth;
    }
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-color: #F3C343;
    padding: 2em;
    color: black;
    border-bottom: 6px solid #FFD700;
}

 .logo {
  margin-top: 4em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

.navbar {
	overflow: hidden;
	float: none;
	position: fixed;
	top: 0;
	width: 95%;
	margin: 0;
	padding: 10px;
}


.navbar ul {
	font-family: 'Sansita Swashed', cursive;
	list-style: none;
	background: #F3C343;
	padding: 0;
	margin: 0;
	text-align: center;
}


.navbar li {
	display: inline-block;
}

.navbar a {
	text-decoration: none;
	color: black;
	width: 100px;
	display: block;
	padding: 1em;
	font-weight: bold;
	text-align: center;
}

.navbar a:hover {
	color: white;
}


.white {
    color: #4B0082;
}

.banner {
    background-color: #CDCDCD;
    padding: 20px 0;
    text-align: center;
    border-bottom: 6px solid #FFD700;
}

.banner img {
    max-width: 780px;
    width: 90%;
}
 


.links {
    grid-column: 1/3;
    margin-top: 1em;
    text-align: center;
}

.btn{
	display: inline-block;
	background: #4B0082;
	color: white;
	padding: 8px 30px;
	margin:  30px 0;
	border-radius: 30px;
	transition: background 0.5s;
	text-decoration: none;
	font-family: 'Sansita Swashed', cursive;
    font-style: bold;
    font-size: large;
}

.btn:hover{
	background: white;
	color: black;
}


/*services*/


.services {
    background-color: #F3C343;
    padding: 2em;
}

.services h1 {
	font-family: 'Sansita Swashed', cursive;
    text-align: center;
    color: #4B0082;
    padding-top: 2em;
}

.services h3{
	font-family: 'Sansita Swashed', cursive;
    text-align: center;
    color: #4B0082;
}

.services p {
	font-family: 'Open Sans', sans-serif;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    color: #4B0082;
    font-size: medium;
    word-spacing: 3px;
}

.services ul{
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	color: black;
	padding-bottom: 3em;
    margin: 0;
}

.services ul > li{
	font-family: 'Open Sans', sans-serif;
    margin-left: 20em;
    margin-right: 20em;
}



/*porfolio*/


.portfolio {
    background-color: white;
    padding: 1em;
    height: 80em;
    border-bottom: 6px solid #FFD700;
}

.portfolio h1 {
	font-family: 'Sansita Swashed', cursive;
    text-align: center;
    color: #4B0082;
    padding-top: 2em;
}


.gallery {
  margin: 1em;
  border: 1px solid #ccc;
  width: 300px;
  margin-right: 2em;
  float: right;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}
.desc {
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  text-align: center;}
   

/*about */


.about {
	background-image: url('img/me copy.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 90em;
    padding-top: 2em;
    padding-bottom: 25em;
    margin: 0;
	background-position: center;
}

.text {
	text-align: justify;
	margin-left: 55em;
	margin-right: 3em;
}

.text h1 {
    font-family: 'Sansita Swashed', cursive;
    color: white;
    padding-top: 2em;
}

.text p {
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    color: white;
}

/*form */

.form {
        background-color: #4B0082;
        padding: 5em;

}

.form h1 {
    color: white;
    padding-top: 2em;
}

.form p {
    color: #f0d8d9;
    font-size: x-large;
    font-style: none;
}

.form h3 {
    color: #f0d8d9;
}

.form h3 + p {
    color: #f0d8d9;
    font-size: medium;
    font-style: none;
}

form {
    /* left align the form of the page */
    margin: 0 auto;
    width: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 0.5em;
}


input,
textarea {
    /*To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
     font: 1em sans-serif;
     padding: 10px;


/* Uniform text field size */
  width: 700px;
  height: 50px;
  border-radius: 0.7em;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid purple;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: green;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 0px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: .5em;
}

