@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@400;700&display=swap');


html {
    scroll-behavior: smooth;
}

@media screen and (max-width: 550px) {
    body {
        background-color: green;
    }
    
    .logo {
        margin-top: 20px;
        text-align: center;
        grid-column: 1/3;
    }

    .links {
        margin-top: 10px;
        text-align: center;
        text-align: right;
        grid-column: 1/3;
    }
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-color: #F3C343;
    padding: 2em;
    color: black;
    border-bottom: 6px solid #FFD700;
}

 .logo {
  margin-top: 4em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

.navbar {
	overflow: hidden;
	float: none;
	position: fixed;
	top: 0;
	width: 95%;
	margin: 0;
	padding: 10px;
}


.navbar ul {
	font-family: 'Sansita Swashed', cursive;
	list-style: none;
	background: #F3C343;
	padding: 0;
	margin: 0;
	text-align: center;
}


.navbar li {
	display: inline-block;
}

.navbar a {
	text-decoration: none;
	color: black;
	width: 100px;
	display: block;
	padding: 1em;
	font-weight: bold;
	text-align: center;
}

.navbar a:hover {
	color: white;
}


.purple {
    color: #4B0082;
}

/*main image*/

.banner {
    background-color: #CDCDCD;
    padding: 20px 0;
    text-align: center;
    border-bottom: 6px solid #FFD700;
}

.banner img {
    max-width: 780px;
    width: 90%;
}
 


.links {
    grid-column: 1/3;
    margin-top: 1em;
    text-align: center;
}

.btn{
	display: inline-block;
	background: #4B0082;
	color: white;
	padding: 8px 30px;
	margin:  30px 0;
	border-radius: 30px;
	transition: background 0.5s;
	text-decoration: none;
	font-family: 'Sansita Swashed', cursive;
  font-style: bold;
  font-size: large;
}

.btn:hover{
	background: white;
	color: black;
}


/*services section*/


.services {
    background-color: #F3C343;
    padding: 2em;
    border-bottom: 6px solid #FFD700;
    padding-bottom: 3em;
}

.services h1 {
	font-family: 'Sansita Swashed', cursive;
    text-align: center;
    color: #4B0082;
    padding-top: 2em;
}

.services h3{
	font-family: 'Sansita Swashed', cursive;
    text-align: center;
    color: #4B0082;
}

.services p {
	font-family: 'Open Sans', sans-serif;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    color: #4B0082;
    font-size: medium;
    word-spacing: 3px;
    text-align: center;
    font-weight: bold;
}

.services ul{
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	color: black;
	padding-bottom: 2em;
    margin: 0;
}

.services ul > li{
	font-family: 'Open Sans', sans-serif;
    margin-left: 20em;
    margin-right: 20em;
}


/*porfolio (flexbox)*/

.portfolio {
    background-color: #F5F5F5;
    margin-left: 2em;
    padding-top: 1em;
    padding-left: 2em;
    margin: 0;
    height: 55em;
    border-bottom: 6px solid #FFD700;
}

.portfolio h1 {
	font-family: 'Sansita Swashed', cursive;
    text-align: center;
    color: #4B0082;
    padding-top: 2em;
}

.portfolio a {
  padding: 0.2em;
}

.button {
    list-style: none;
}

/*about */


.about {
	background-image: url('me_copy.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 90em;
    padding-top: 2em;
    padding-bottom: 25em;
    margin: 0;
	background-position: center;
}

.text {
	text-align: justify;
	margin-left: 55em;
	margin-right: 3em;
}

.text h1 {
    font-family: 'Sansita Swashed', cursive;
    color: white;
    padding-top: 2em;
}

.text p {
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    color: white;
}



/*form */

#quote {
    background-color: #4B0082;
    border-bottom: 6px solid #663399;
    color: white;
    font-size: 1.1em;
    line-height: 2em;
    padding: 40px 20px;
    padding-bottom: 50px;
}

#quote .centered {
    margin: auto;
    max-width: 950px;
}

#quote form {
    display: grid;
    grid-template-columns: 68% auto;
    padding-top: 1em;
}


#quote h1 {
  padding-top: 2em;
}

#quote form h2 {
    margin-top: 0
}

#quote form p {
    font-size: 0.7em;
    line-height: 1.8em;
    margin-bottom: 2.5em;
}

#quote input,
#quote textarea {
    background-color: #663399;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 0.7em;
    margin: 0.7em 0;
    padding: 1em;
    width: 90%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
  font-family: 'Open Sans', sans-serif;
}

/* footer */

#footer {
    color: black;
    background-color: #F8F8FF;
    font-size: 0.7em;
    padding: 40px 20px;
    padding-bottom: 50px;
}

#footer .centered {
    display: grid;
    grid-template-columns: 65% auto;
    max-width: 950px;
    margin: auto;
}

#footer .social {
    margin-top: -10px;
    text-align: right;
}
